/* PIT TABLE COMMON */
ptable table > thead > tr > th.sortable {
  cursor: pointer;
}

ptable table > thead > tr > th > span {
  display: block;
}

ptable table > thead > tr > th > span {
  padding: 8px;
}

.text-center {
  text-align: center !important;
}

/* LOADING */
#loading-container {
  display: inline-block;
  position: absolute;
  height: 30px;
  width: 30px;
}

#loading-container #loading-bar-spinner {
  position: absolute;
  display: table-cell;
  top: 0;
  left: 0;
}

.pt-search {
  position: absolute;
  top: 2px;
  left: 2px;
}

#loading-container #loading-bar-spinner .spinner-icon {
  width: 30px;
  height: 30px;
}

/* PIT TABLE NO FRAMEWORK */
ptable > div.table-container {
  margin: 15px;
}

/* PIT TABLE BOOSTRAP */
ptable > div.container-fluid table.table > thead > tr > th {
  padding: 0;
}

/* PIT TABLE MATERIAL */
ptable table > thead > tr > th:not(.md-sort) > span {
  cursor: default;
}
ptable > div.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
ptable > div.md-table-container table.md-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
}
ptable > div.md-table-container table.md-table thead.md-head > tr.md-row {
  height: 56px;
}
ptable > div.md-table-container table.md-table tbody.md-body > tr.md-row,
ptable > div.md-table-container table.md-table tfoot.md-foot > tr.md-row {
  height: 48px;
}
ptable > div.md-table-container table.md-table th.md-column {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}
ptable > div.md-table-container table.md-table th.md-column fieldset {
  display: inline-block;
  vertical-align: bottom;
}
ptable > div.md-table-container table.md-table th.md-column md-icon {
  height: 16px;
  width: 16px;
  font-size: 16px !important;
  line-height: 16px !important;
  min-height: 16px;
  min-width: 16px;
}
ptable > div.md-table-container table.md-table th.md-column md-icon.md-sort-icon {
  color: rgba(0, 0, 0, 0.26);
  opacity: 0;
  transition: -webkit-transform 0.25s, opacity 0.25s;
  transition: transform 0.25s, opacity 0.25s;
}
ptable > div.md-table-container table.md-table th.md-column md-icon.md-sort-icon.md-asc {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
ptable > div.md-table-container table.md-table th.md-column md-icon.md-sort-icon.md-desc {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
ptable > div.md-table-container table.md-table th.md-column md-icon:not(:first-child) {
  margin-left: 8px;
}
ptable > div.md-table-container table.md-table th.md-column md-icon:not(:last-child) {
  margin-right: 8px;
}
ptable > div.md-table-container table.md-table th.md-column.md-active,
ptable > div.md-table-container table.md-table th.md-column.md-active md-icon {
  color: rgba(0, 0, 0, 0.87);
}
ptable > div.md-table-container table.md-table th.md-column md-icon.md-sort-icon,
ptable > div.md-table-container table.md-table th.md-column.md-active md-icon.md-sort-icon {
  opacity: 1;
}
ptable > div.md-table-container table.md-table tr.md-row[ng\:repeat].ng-leave,
ptable > div.md-table-container table.md-table tr.md-row[ng-repeat].ng-leave,
ptable > div.md-table-container table.md-table tr.md-row[x-ng-repeat].ng-leave,
ptable > div.md-table-container table.md-table tr.md-row[data-ng-repeat].ng-leave {
  display: none;
}
ptable > div.md-table-container table.md-table.md-row-select tbody.md-body > tr.md-row {
  transition: background-color 0.2s;
}
ptable > div.md-table-container table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
  background-color: #eeeeee !important;
}
table.md-table.md-row-select tbody.md-body > tr.md-row.md-selected { // TODO: Revisar
  background-color: #f5f5f5;
}
ptable > div.md-table-container table.md-table.md-row-select td.md-cell:first-child,
ptable > div.md-table-container table.md-table.md-row-select th.md-column:first-child {
  width: 20px;
  padding: 0 0 0 24px;
}
ptable > div.md-table-container table.md-table.md-row-select td.md-cell:nth-child(2),
ptable > div.md-table-container table.md-table.md-row-select th.md-column:nth-child(2) {
  padding: 0 24px;
}
ptable > div.md-table-container table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2),
ptable > div.md-table-container table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2) {
  padding: 0 56px 0 0;
}
ptable > div.md-table-container table.md-table:not(.md-row-select) td.md-cell:first-child,
ptable > div.md-table-container table.md-table:not(.md-row-select) th.md-column:first-child {
  padding: 0 24px;
}
ptable > div.md-table-container table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
ptable > div.md-table-container table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 0 56px 0 0;
}
ptable > div.md-table-container table.md-table td.md-cell,
ptable > div.md-table-container table.md-table th.md-column {
  vertical-align: middle;
  text-align: left;
}
ptable > div.md-table-container table.md-table td.md-cell > *,
ptable > div.md-table-container table.md-table th.md-column > * {
  vertical-align: middle;
}
ptable > div.md-table-container table.md-table td.md-cell:last-child,
ptable > div.md-table-container table.md-table th.md-column:last-child {
  padding: 0 24px 0 0;
}
ptable > div.md-table-container table.md-table td.md-cell.md-numeric,
ptable > div.md-table-container table.md-table th.md-column.md-numeric { // TODO: Revisar
  text-align: right;
}
ptable > div.md-table-container table.md-table td.md-cell .md-checkbox,
ptable > div.md-table-container table.md-table th.md-column .md-checkbox { // TODO: Revisar
  margin: 0;
  width: 20px;
}
ptable > div.md-table-container table.md-table td.md-cell.md-clickable,
ptable > div.md-table-container table.md-table th.md-column.md-clickable {
  cursor: pointer;
}
ptable > div.md-table-container table.md-table td.md-cell.md-clickable:focus,
ptable > div.md-table-container table.md-table th.md-column.md-clickable:focus {
  outline: none;
}
ptable > div.md-table-container table.md-table td.md-cell {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}
ptable > div.md-table-container table.md-table td.md-cell.md-numeric .md-select {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
ptable > div.md-table-container table.md-table td.md-cell.md-numeric .md-select .md-select-value {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
ptable > div.md-table-container table.md-table td.md-cell.md-placeholder {
  color: rgba(0, 0, 0, 0.26);
}
ptable > div.md-table-container table.md-table td.md-cell .md-select > .md-select-value > span.md-select-icon {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  color: rgba(0, 0, 0, 0.54);
  width: 18px;
  text-align: right;
}
ptable > div.md-table-container table.md-table td.md-cell .md-select > .md-select-value > span.md-select-icon:after {
  -webkit-transform: scaleY(0.4) scaleX(0.8);
  transform: scaleY(0.4) scaleX(0.8);
}

/*
.md-table-pagination {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  padding: 0 24px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
}
.md-table-pagination md-select {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-width: 64px;
}
.md-table-pagination md-select:not([disabled]):focus .md-select-value {
  color: rgba(0, 0, 0, 0.54);
}
.md-table-pagination md-select .md-select-value {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.md-table-pagination md-select .md-select-value span.md-select-icon {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-right: -6px !important;
}
.md-table-pagination md-select .md-select-value span.md-select-icon:after {
  top: initial;
  -webkit-transform: scaleY(0.5) scaleX(1);
  transform: scaleY(0.5) scaleX(1);
}
.md-table-pagination > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
}
.md-table-pagination > .buttons:not(:first-child),
.md-table-pagination > .limit-select:not(:first-child) {
  margin-left: 32px;
}
.md-table-pagination > .buttons {
  margin-right: -16px;
}
.md-table-pagination > .buttons > .md-button.md-icon-button {
  margin: 0;
}
.md-table-pagination > .buttons > .label + .md-button.md-icon-button {
  margin-left: 20px;
}
md-select.md-table-select {
  margin: 0;
}
md-select.md-table-select > .md-select-value {
  padding: 0;
  min-width: 0;
  min-height: 24px;
  border-bottom: 0 !important;
}
md-select.md-table-select > .md-select-value > span {
  display: block;
  height: auto;
  -webkit-transform: none !important;
  transform: none !important;
}
md-select.md-table-select > .md-select-value > span > .md-text {
  display: inherit;
  height: inherit;
  -webkit-transform: inherit;
  transform: inherit;
}
md-select.md-table-select > .md-select-value > span.md-select-icon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  margin: 0;
}
md-select.md-table-select > .md-select-value > span.md-select-icon:after {
  top: initial;
}
.md-select-menu-container.md-table-select,
.md-select-menu-container.md-pagination-select {
  margin-left: -2px;
  border-radius: 2px;
}
.md-select-menu-container.md-table-select md-select-menu,
.md-select-menu-container.md-pagination-select md-select-menu,
.md-select-menu-container.md-table-select md-content,
.md-select-menu-container.md-pagination-select md-content {
  border-radius: inherit;
}
.md-select-menu-container.md-table-select md-content,
.md-select-menu-container.md-pagination-select md-content {
  padding: 0;
}
.md-select-menu-container.md-table-select .md-text {
  font-size: 13px;
}
.md-select-menu-container.md-pagination-select .md-text {
  font-size: 12px;
}
*/
md-toolbar.md-table-toolbar {
  box-shadow: none;
}
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default,
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.87);
}
md-toolbar.md-table-toolbar.md-default-theme:not(.md-menu-toolbar).md-default .md-button,
md-toolbar.md-table-toolbar:not(.md-menu-toolbar).md-default .md-button {
  color: rgba(0, 0, 0, 0.87);
}
@media only screen and (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  md-toolbar.md-table-toolbar .md-toolbar-tools {
    height: 64px;
    max-height: initial;
  }
}
md-toolbar.md-table-toolbar .md-toolbar-tools {
  padding: 0 24px;
}
md-toolbar.md-table-toolbar .md-toolbar-tools md-icon {
  color: rgba(0, 0, 0, 0.54);
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button {
  margin: 0;
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:first-child {
  margin-left: -12px;
}
md-toolbar.md-table-toolbar .md-toolbar-tools > .md-button.md-icon-button:last-child {
  margin-right: -12px;
}
md-card > md-toolbar.md-table-toolbar:first-child,
md-card > md-table-container:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
md-card > md-toolbar.md-table-toolbar:last-child,
md-card > md-table-container:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

/* PIT TABLE TOOLBAR NO FRAMEWORK */
ptable > div.table-container > pttoolbar .height-no-bootstrap {
  height: 35px;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.size-control {
  float: left;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control {
  float: right;
  text-align: right;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control label input.input-search {
  border: 1px solid #939393;
  border-radius: 3px;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control input.input-search,
ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control button.close-icon,
ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control {
  position: relative;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control button.close-icon {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  padding: 0;
  border: 0;
}

ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control button.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #cccccc;
  z-index: 1;
  right: 8px;
  top: -4px;
  bottom: 0;
  margin: auto;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 11px;
}
ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control input.input-search:not(:valid) ~ .ptable > div.table-container > pttoolbar .height-no-bootstrap div.search-control button.close-icon {
  display: none;
}

/* PIT TABLE TOOLBAR BOOTSTRAP */
ptable > div.container-fluid > pttoolbar {
  display: block;
}

@media (min-width: 768px) {
  ptable > div.container-fluid > pttoolbar div.search-control {
    text-align: right;
  }

  ptable > div.container-fluid > pttoolbar div.row {
    margin-bottom: 15px;
  }
}

ptable > div.container-fluid > pttoolbar div.search-control div.input-group span.input-group-addon.input-group-addon-custom {
  padding: 0;
}

ptable > div.container-fluid > pttoolbar div.search-control div.input-group span.input-group-addon.input-group-addon-custom:focus, ptable > div.container-fluid > pttoolbar div.search-control div.input-group span.input-group-addon.input-group-addon-custom i.fa.fa-close:focus {
  outline: none;
}

ptable > div.container-fluid > pttoolbar div.search-control div.input-group span.input-group-addon.input-group-addon-custom i.fa.fa-close {
  padding: 9px 12px;
}

/* PIT TABLE TOOLBAR MATERIAL */
ptable > div.md-table-container > pttoolbar md-toolbar.md-table-toolbar form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

ptable > div.md-table-container > pttoolbar md-toolbar.md-table-toolbar form {
  margin-left: 16px;
}

.th-checkbox {
  text-align: center;
  width: 3%;
}

.header-checkbox {
  transform: translateY(-50%);
}

.td-checkbox {
  position: relative;
  text-align: center;
}

.body-checkbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%;
  height: 30%;
  margin: auto;
}

md-checkbox.margin-auto {
  margin: auto;
}

.padding-only-left {
  padding: 0 0 0 24px;
}

input.cursor-pointer {
  cursor: pointer;
}

.md-card-pitable {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 8px;box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)
}

.text-rows-per-page {
  display: inline-table;
  padding-right: 15px;
}

md-select.md-select-paginator {
  display: inline-table;
  margin: initial;
}

.md-table-pagination {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 24px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
  border-top: 1px rgba(0,0,0,.12) solid;
}

.md-select-value {
  padding: 0;
  min-width: 0;
  min-height: 24px;
  border-bottom: 0!important;
}

.item-md-table-paginator {
  padding: 0 10px 0 10px;
  margin: 15px 0 15px 0;
}

.margin-0 {
  margin: 0;
}

.md-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

@media screen and (max-width: 580px) {
  .md-table-pagination {
    display: inherit;
    float: right;
    border-top: none;
  }

  .md-table-pagination > .last-item{
    margin-left: -20px;
  }
}
