<div  ng-class="{ 'md-table-container' : $ctrl.uiFramework === 'material', 'container-fluid': $ctrl.uiFramework === 'bootstrap', 'table-container': !$ctrl.uiFramework }">
  <pttoolbar is-loading="$ctrl.isLoading"></pttoolbar>
  <div ng-class="{'md-card-pitable' : $ctrl.uiFramework === 'material'}">
    <div ng-class="{'md-table-container' : $ctrl.uiFramework === 'material'}">
      <table ng-class="{ 'table table-bordered table-striped table-responsive': $ctrl.uiFramework === 'bootstrap', 'md-table': $ctrl.uiFramework === 'material', 'md-row-select': $ctrl.uiFramework === 'material' && $ctrl.ptParams.selectId, 'pit-table-responsive' : $ctrl.ptParameters.responsive }">
        <thead ng-class="{ 'md-head': $ctrl.uiFramework === 'material' }">
          <tr ng-class="{ 'md-row': $ctrl.uiFramework === 'material' }">
            <th class="th-ptcheckbox" ng-if="$ctrl.ptParameters.selectId" ng-class="{'th-checkbox' : $ctrl.uiFramework === 'bootstrap' || !$ctrl.uiFramework, 'padding-only-left' : $ctrl.uiFramework === 'material'}">
              <ptcheckbox ng-if="$ctrl.ptData.length" in-header="true"></ptcheckbox>
            </th>
            <th class="th-more-info" ng-if="$ctrl.hideColumns.length > 0">
              
            </th>
            <th id="{{ 'th_'+$index }}" ng-repeat="column in $ctrl.ptColumns" class="{{ column.classReponsive ? column.thClazz+' '+column.classReponsive : column.thClazz}}" ng-class="{ 'sortable': column.sortable && $ctrl.ptData.length && $ctrl.uiFramework === 'bootstrap', 'md-sort': column.sortable && $ctrl.ptData.length && $ctrl.uiFramework === 'material', 'md-column': $ctrl.uiFramework === 'material', 'md-active': $ctrl.uiFramework === 'material' && column.sortable && column.sort !== 'natural', 'tableLayout-fixed' : $ctrl.isBrowserIEorEdge }">
              <span class="th-content" ng-click="$ctrl.columnOrder(column)">
                <h6 class="span-title">
                  {{ column.name }}
                </h6>
                <fieldset ng-if="column.sortable && $ctrl.ptData.length" class="th-span-fielset">
                  <i class="pull-right fa " ng-class="$ctrl.thIconClass(column.sort)" ng-if="$ctrl.uiFramework === 'bootstrap'"></i>
                  <md-icon class="display-Table-Cell md-sort-icon md-asc" ng-class="{'inactive' : column.sort === 'desc'}" ng-if="$ctrl.uiFramework === 'material'">keyboard_arrow_up</md-icon>
                  <md-icon style="display: block;" class="display-Table-Cell md-sort-icon md-dsc" ng-class="{'inactive' : column.sort === 'asc'}" ng-if="$ctrl.uiFramework === 'material'">keyboard_arrow_down</md-icon>
                  </fieldset>
              </span>
            </th>
          </tr>
        </thead>
        <tbody ng-class="{ 'md-body': $ctrl.uiFramework === 'material' }">
          <tr ng-class="{ 'md-row': $ctrl.uiFramework === 'material' }" ng-repeat-start="data in $ctrl.ptData" ng-if="!$ctrl.isLoading">
            <td ng-if="$ctrl.ptParameters.selectId" class="td-checkbox" ng-class="{ 'md-cell md-checkbox-cell': $ctrl.uiFramework === 'material', 'no-border-bottom' : data.expanded &&  $ctrl.uiFramework === 'material'}">
              <ptcheckbox ng-if="$ctrl.ptData.length" in-header="false" item="data"></ptcheckbox>
            </td>
            <td ng-if="$ctrl.hideColumns.length > 0" ng-class="{ 'md-cell md-checkbox-cell': $ctrl.uiFramework === 'material', 'no-border-bottom' : data.expanded &&  $ctrl.uiFramework === 'material' }">
                <button class="md-icon-button md-button md-ink-ripple pitable-btn-more-info" type="button" ng-click="$ctrl.moreInfo(data); $ctrl.openClose(data);">
                  <md-icon class="material-icons" ng-if="!data.expanded"> add_circle </md-icon>
                  <md-icon class="material-icons" ng-if="data.expanded"> remove_circle </md-icon>
                </button>
            </td>
            <td ng-repeat="column in $ctrl.ptColumns" ng-class="{ 'md-cell': $ctrl.uiFramework === 'material', 'no-border-bottom' : data.expanded &&  $ctrl.uiFramework === 'material' }" class="{{ column.classReponsive ? column.thClazz+' '+column.classReponsive : column.thClazz}}">            
              <span ng-if="!column.render">{{ data[column.id] }}</span>              
              <ptdrender ng-if="column.render" directive-name="column.render" pt-data="data" render-fn="column.renderFn"></ptdrender>
            </td>
          </tr>
          <tr ng-if="data.expanded" ng-repeat-end="" ng-class="{ 'md-row': $ctrl.uiFramework === 'material' }">
            <td class="td-resize" colspan="{{ $ctrl.ptParameters.selectId ? ($ctrl.ptColumns.length - ($ctrl.hideColumns.length - 2 )) : ($ctrl.ptColumns.length - ($ctrl.hideColumns.length - 1)) }}">
              <ul>
                <li ng-repeat="item in data.itemsHide">
                  <label class="label-font-size">{{ item.name }}:</label> <span ng-if="!item.render">{{ item.value }}</span>
                  <ptdrender class="ptdrender-resize" ng-if="item.render" directive-name="item.render" pt-data="data" render-fn="item.renderFn"></ptdrender>
                </li>
              </ul> 
            </td>
          </tr>
          <tr ng-if="$ctrl.isLoading || !$ctrl.ptData.length" ng-class="{ 'md-row': $ctrl.uiFramework === 'material' }"  style="height: 90px;">
            <td ng-class="{ 'md-cell': $ctrl.uiFramework === 'material' }" class="text-center" colspan="{{ $ctrl.ptParameters.selectId ? ($ctrl.ptColumns.length - ($ctrl.hideColumns.length - 2 )) : ($ctrl.ptColumns.length - ($ctrl.hideColumns.length - 1)) }}">{{ $ctrl.isLoading ? $ctrl.loadingTableText : $ctrl.emptyTableText }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ptpage></ptpage>
  </div>
</div>
